.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.title {
    z-index: 1;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.title {
    font-family: 'Staatliches', cursive;
}

.text {
    font-family: 'Montserrat', sans-serif;
}

.navbar-fixed {
    position: fixed;
    z-index: 10;
    width: 100%;
}

[class^="parallax-"] {
    width: 100%;
    height: 350px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 350px;
    text-align: center;
    /*color: white;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-1 {
    background-image: url('../img/roca1.jpg');
}

.parallax-2 {
    background-image: url('../img/roca2.jpg');
}

.parallax-3 {
    background-image: url('../img/roca3.jpg');
}


/* padding-bottom and top for image */

.mfp-no-margins img.mfp-img {
    padding: 0;
}


/* position of shadow behind the image */

.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}


/* padding for main container */

.mfp-no-margins .mfp-container {
    padding: 0;
}


/* 

for zoom animation 
uncomment this part if you haven't added this code anywhere else

*/


/*

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
*/