.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.title {
    z-index: 1;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.title {
    font-family: 'Staatliches', cursive;
}

.text {
    font-family: 'Montserrat', sans-serif;
}

.navbar-fixed {
    position: fixed;
    z-index: 10;
    width: 100%;
}

[class^="parallax-"] {
    width: 100%;
    height: 350px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 350px;
    text-align: center;
    /*color: white;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-1 {
    background-image: url('../img/roca1.jpg');
}

.parallax-2 {
    background-image: url('../img/roca2.jpg');
}

.parallax-3 {
    background-image: url('../img/roca3.jpg');
}